<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.dao.UserMapper">
    <select id="getActionList" resultType="com.example.mybatis.entity.Action">
        select *
        from action
    </select>
    <select id="testCollection" resultMap="rsmap" >
          select *
        from action
    </select>
    <resultMap id="rsmap" type="com.example.mybatis.entity.Action">
        <id property="id" column="id" />
        <result property="actionName" column="action_name" />
<!--        <association property="ref" column="" select="" />-->
        <collection property="refs" column="id"  select="com.example.mybatis.dao.ActionPartRef.getPartRef" />
    </resultMap>
    <select id="testCollection2" resultMap="rsmap2" >
          select action.*,action_part_relation.id as id2 ,action_part_relation.action_id,action_part_relation.action_part,
          action_part_relation.part_name
        from action inner join
         action_part_relation  on action_part_relation.action_id = action.id
    </select>
    <select id="getDynamicsql" resultType="java.lang.Object">
        select * from action
        <where>
            <if test="action.actionName!=''">
               and action.action_name=#{action.actionName}
            </if>
            <!--choose when -->
<!--            <choose>-->
<!--                <when test="action.xxxx==1">-->
<!--                    -->
<!--                </when>-->
<!--                <when test="action.xxxx==1">-->
<!--                    -->
<!--                </when>-->
<!--                <otherwise></otherwise>-->
<!--            </choose>-->

            <if test="action.primaryId!=null and action.primaryId.size()>0">
                and action.id in
                <foreach collection="action.primaryId" close=")" index="index" item="item" open="(" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <resultMap id="rsmap2" type="com.example.mybatis.entity.Action">
        <id property="id" column="id" />
        <result property="actionName" column="action_name" />
        <!--        <association property="ref" column="" select="" />-->
        <collection property="refs" resultMap="com.example.mybatis.dao.ActionPartRef.partMap">
            <id column="id2" property="id" />
            <result column="action_part_relation.action.id" property="id" />
            <result column="action_id" property="actionId" />
            <result column="part_name" property="partName" />
        </collection>
    </resultMap>
</mapper>